<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h3>About Us</h3>
        <p>
          GreenWind is the online article publishing site. We educate and
          entertain audiences of all ages with family-friendly articles from
          today's newsmakers - famous celebrities, athletes, authors, and
          everything in between. We are passionate about makeing a change, and
          on a mission to share our knowledge with the world
        </p>
      </div>
      <div class="col-lg-3 mx-auto">
        <h3>Navigation</h3>
        <ul class="list-unstyled">
          <li><a href="#">Podcasts</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h3>Subscribe</h3>
        <p>
          Subcribe to stay updated with new posts,featured posts, be notified on
          every new posts and tune with us.
        </p>
        <form action="/subscribe" method="POST" class="form-subscribe">
          <input
            type="email"
            name="email"
            class="form-control mb-3"
            placeholder="Enter Email"
          />
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <input type="submit" class="btn btn-danger" value="Subscribe" />
        </form>
      </div>
    </div>

    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved | This template is made with
          <i class="icon-heart-o" aria-hidden="true"></i> by
          <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>
