<%- include('../includes/head.ejs') %>
</head>
<body>

  <div class="site-wrap">

    <%- include('../includes/nav.ejs') %>

    

    <div class="container pt-5 hero">
      <div class="row align-items-center text-center text-md-left">
        
        <div class="col-lg-4">
          
          <h1 class="mb-3 display-3">Some error occurred!</h1>
          <p>We're working on fixing this, sorry for the inconvenience!</p>
          
        </div>
        <div class="col-lg-8">
          <img src="/images/500.png" alt="Image" class="img-fluid">    
        </div>
      </div>
    </div>
    


   <br>
   <br>


   <%- include('../includes/footer.ejs') %>
  </div>

<%- include('../includes/end.ejs') %>